pip==24.2
convert==0.1.2
#dbus-python==1.2.18
docopt==0.6.2
funcparserlib==2.0.0a0
lxml==6.0.1
nwdiag==3.0.0
opc-diag==1.1.1
pango==0.0.1
Pillow==9.5.0
pycairo==1.28.0
PyGObject==3.42.1
racks==1.0.0
termcolor==3.1.0
webcolors==24.11.1