# ----------------------------------------------------------------------------
# Licensed to the Apache Software Foundation (ASF) under one
# or more contributor license agreements.  See the NOTICE file
# distributed with this work for additional information
# regarding copyright ownership.  The ASF licenses this file
# to you under the Apache License, Version 2.0 (the
# "License"); you may not use this file except in compliance
# with the License.  You may obtain a copy of the License at
#
#    https://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing,
# software distributed under the License is distributed on an
# "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
# KIND, either express or implied.  See the License for the
# specific language governing permissions and limitations
# under the License.
# ----------------------------------------------------------------------------

pip==24.2
convert==0.1.2
#dbus-python==1.2.18
docopt==0.6.2
funcparserlib==2.0.0a0
lxml==6.0.1
nwdiag==3.0.0
opc-diag==1.1.1
pango==0.0.1
Pillow==9.5.0
pycairo==1.28.0
PyGObject==3.42.1
racks==1.0.0
termcolor==3.1.0
webcolors==24.11.1